@charset "utf-8";   //设置中文
body,html, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, textarea, p, a, span{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body {
    font-family: "Microsoft YaHei", "微软雅黑", "Arial", sans-serif;
    // color: #666;
    background: #f9f9f9;
    // min-width: 1345px;
  
}
body,html{
    width: 100%;
}
// input,select,option,textarea{outline: none;}
@import "toolbar-nav";
@import "banner";
// @mixin position($direction:left, $positionvalue:absolute, $value1:10px, $value2:10px) {
//     @if ($direction==left) {
//         position: $positionvalue;
//         left: $value1;
//         top: $value2;
//     }
//     @else {
//         position: $positionvalue;
//         right: $value1;
//         bottom: $value2;
//     }
// }
// @mixin borderstyle($size:1px, $style:solid, $color:black) {
//     border: $size $style $color;
// }
// @import "top";
// @import "header";
// @import "nav";
// @import "banner";
// @import "footer";
 
// @each $var in list {}  任意值遍历  $var 表示list里面的值
// // @each $var in left,
// // middle,
// // right {
// //     .box_#{$var} {
// //         background-image: url('img/banner_#{$var}.jpg');
// //     }
// // }

//嵌套
// .box1 {
//     width: $page_width;
//     ul {
//         list-style: none;
//         li {
//             line-height: 30px;
//             &:hover {
//                 //&:当前的父元素li
//                 background-color: red;
//             }
//             a {
//                 text-decoration: $n;
//             }
//             span {
//                 color: $page_color;
//             }
//         }
//     }
//     ol {
//         width: $page_width;
//         li {
//             list-style: none;
//             a {
//                 text-decoration: $n;
//             }
//             span {
//                 color: $page_color;
//             }
//         }
//     }
// }

//sass 中可以通过@mixin 声明混合（混合宏），可以传递参数，参数名称以$开始，多个参数之间使用逗号分隔，@mixin 的混合代码块由@include 来调用。


// @mixin opacityvalue($value:0.1) {
//     opacity: $value;
//     filter: alpha(opacity=$value*100);
// }

// @mixin ellipsis($w:300px, $h:30px) {
//     width: $w;
//     height: $h;
//     line-height: $h;
//     overflow: hidden;
//     white-space: nowrap;
//     text-overflow: ellipsis;
// }



// @mixin move($attr:transition, $value:10px) {
//     -webkit-#{$attr}: $value;
//     -moz-#{$attr}: $value;
//     -o-#{$attr}: $value;
//     -ms-#{$attr}: $value;
//     #{$attr}: $value;
// }

// .box123 {  例如
//     // @include borderstyle(10px, dashed, blue);
//     // @include borderstyle();
//     // @include opacityvalue(0.5)
//     @include postion(left, relative, 120px, 50px);
//     @include move(display, flex);
// }

// p { 例如
//     @include ellipsis();
//     @include borderstyle();
//     font-size: fn();
// }